<div>
  <div class="d-flex justify-content-between align-items-center mb-5">
    <h2 class="m-0" jhiTranslate="workMonitorApp.orderTask.home.title">Order Tasks</h2>

    <ngl-export-as
      *ngIf="orderTasks?.length"
      class="ml-auto"
      [data]="orderTasks"
      requestUrl="{{ orderTaskService.resourceUrl }}"
      [requestOption]="getOption"
      [exclude]="exclude"
      translationPrefix="workMonitorApp.orderTask"
      fileName="{{ 'global.menu.entities.orderTask' | translate }}"
    >
    </ngl-export-as>

    <button
      class="ml-2"
      type="button"
      nz-button
      nzSize="large"
      nzType="primary"
      jhiTranslate="entity.action.add"
      *jhiHasAnyAuthority="'ROLE_ORDER TASK_WRITE'"
      (click)="orderTaskService.openUpdate()"
    >
      Add
    </button>
  </div>
  <div class="mb-4">
    <ngl-filter-field [fields]="filterFields" (onFilter)="filter($event)"></ngl-filter-field>
  </div>
  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="orderTasks?.length === 0">
    <span jhiTranslate="workMonitorApp.orderTask.home.notFound">No orderTasks found</span>
  </div>

  <div class="table-responsive">
    <nz-table [nzLoading]="loading" [nzShowPagination]="false" nzSize="small" nzOuterBordered nzTemplateMode>
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th jhiSortBy="status"><span jhiTranslate="workMonitorApp.orderTask.status">Status</span> <fa-icon icon="sort"></fa-icon></th>
          <th jhiSortBy="startedDate">
            <span jhiTranslate="workMonitorApp.orderTask.startedDate">Started Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th jhiSortBy="endDate"><span jhiTranslate="workMonitorApp.orderTask.endDate">End Date</span> <fa-icon icon="sort"></fa-icon></th>
          <th jhiSortBy="employeeUsername">
            <span jhiTranslate="workMonitorApp.orderTask.employeeUsername">Employee Username</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th jhiSortBy="task.id"><span jhiTranslate="workMonitorApp.orderTask.task">Task</span> <fa-icon icon="sort"></fa-icon></th>
          <th jhiSortBy="order.id"><span jhiTranslate="workMonitorApp.orderTask.order">Order</span> <fa-icon icon="sort"></fa-icon></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let orderTask of orderTasks; trackBy: trackId">
          <td>
            <a href="javascript:void(0)" (click)="orderTaskService.openView(orderTask)">{{ orderTask.id }}</a>
          </td>
          <td jhiTranslate="{{ 'workMonitorApp.Status.' + orderTask.status }}">{{ orderTask.status }}</td>
          <td>{{ orderTask.startedDate | formatMediumDatetime }}</td>
          <td>{{ orderTask.endDate | formatMediumDatetime }}</td>
          <td>{{ orderTask.employeeUsername }}</td>
          <td>
            <div *ngIf="orderTask.task">
              <a href="javascript:void(0)" click="taskService.openView(orderTask.task)">{{ orderTask.task?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="orderTask.order">
              <a href="javascript:void(0)" click="orderService.openView(orderTask.order)">{{ orderTask.order?.id }}</a>
            </div>
          </td>
          <td [width]="10" class="text-right">
            <nz-button-group nzSize="small" *jhiHasAnyAuthority="'ROLE_orderTask_WRITE'">
              <button nz-button (click)="orderTaskService.openView(orderTask)">
                <i nz-icon nzType="eye" class="icon-btn"></i>
              </button>
              <button nz-button (click)="orderTaskService.openUpdate(orderTask)">
                <i nz-icon nzType="edit" class="icon-btn"></i>
              </button>

              <button nz-button (click)="orderTaskService.openDelete(orderTask.id)">
                <i nz-icon nzType="delete" class="icon-btn"></i>
              </button>
            </nz-button-group>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
  <div class="d-flex justify-content-center mt-3">
    <nz-pagination [nzPageIndex]="page" [nzTotal]="totalItems" [nzPageSize]="itemsPerPage" (nzPageIndexChange)="loadPage($event)">
    </nz-pagination>
  </div>
</div>
