<form class="fade-in" [formGroup]="editForm" (ngSubmit)="save()">
  <div class="modal-header">
    <h4 class="modal-title" jhiTranslate="workMonitorApp.task.home.createOrEditLabel">Create or edit a Task</h4>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="activeModal.dismiss()">&times;</button>
  </div>
  <div class="modal-body">
    <div class="form-row">
      <jhi-alert-error></jhi-alert-error>

      <div class="form-group col-md-6" [hidden]="editForm.get('id')!.value == null">
        <label class="form-control-label" for="field_id" jhiTranslate="global.field.id">ID</label>
        <nz-input-number
          nzSize="large"
          formControlName="id"
          id="field_id"
          [nzDisabled]="editForm.get('id')!.value != null"
        ></nz-input-number>
      </div>

      <div class="form-group col-md-6">
        <label
          for="field_name"
          class="label-required"
          jhiTranslate="workMonitorApp.task.name"
          [ngbTooltip]="'workMonitorApp.task.help.name' | translate"
          >Name</label
        >
        <input id="field_name" nz-input nzSize="large" formControlName="name" />
        <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required">
            This field is required.
          </small>
          <small
            class="form-text text-danger"
            *ngIf="editForm.get('name')?.errors?.minlength"
            jhiTranslate="entity.validation.minlength"
            [translateValues]="{ min: 3 }"
          >
            This field is required to be at least 3 characters.
          </small>
          <small
            class="form-text text-danger"
            *ngIf="editForm.get('name')?.errors?.maxlength"
            jhiTranslate="entity.validation.maxlength"
            [translateValues]="{ max: 128 }"
          >
            This field cannot be longer than 128 characters.
          </small>
        </div>
      </div>

      <div class="form-group col-md-6">
        <label for="field_price" jhiTranslate="workMonitorApp.task.price" [ngbTooltip]="'workMonitorApp.task.help.price' | translate"
          >Price</label
        >
        <input id="field_price" nz-input nzSize="large" formControlName="price" />
      </div>

      <div class="form-group col-md-6">
        <label
          for="field_description"
          jhiTranslate="workMonitorApp.task.description"
          [ngbTooltip]="'workMonitorApp.task.help.description' | translate"
          >Description</label
        >
        <input id="field_description" nz-input nzSize="large" formControlName="description" />
      </div>

      <div class="form-group col-md-6">
        <label
          for="field_priority"
          jhiTranslate="workMonitorApp.task.priority"
          [ngbTooltip]="'workMonitorApp.task.help.priority' | translate"
          >Priority</label
        >
        <nz-input-number nzSize="large" formControlName="priority" id="field_priority"></nz-input-number>
      </div>

      <div class="form-group col-md-6">
        <label class="form-control-label d-block" jhiTranslate="workMonitorApp.task.job" for="field_job">Job</label>
        <select-input
          formControlName="job"
          id="field_job"
          devopsLabelField="id"
          [devopsShowSearch]="true"
          [devopsServerSearch]="true"
          [requestUrl]="jobService.resourceUrl"
        >
        </select-input>
      </div>

      <div class="form-group col-md-6">
        <label class="d-block" jhiTranslate="workMonitorApp.task.profession" for="field_professions">Profession</label>
        <select-input
          formControlName="professions"
          id="field_professions"
          devopsLabelField="name"
          devopsMode="multiple"
          [devopsShowSearch]="true"
          [devopsServerSearch]="true"
          [requestUrl]="professionService.resourceUrl"
        >
        </select-input>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" nzSize="large" nz-button id="cancel-save" (click)="activeModal.dismiss()">
      <span jhiTranslate="entity.action.cancel">Cancel</span>
    </button>

    <button nz-button nzSize="large" nzType="primary" [nzLoading]="loading" [input-validator-button]="editForm">
      {{ 'entity.action.save' | translate }}
    </button>
  </div>
</form>
